
body {
  text-align: center;
  
  }
  
  img {
    /* width: 700px;
    height: 700px; */
  }
  
  .card {
    box-sizing: border-box;
    padding: 60px;
    text-align: center;
    box-shadow: 2px   black;
    width: calc(100%/1);
    float: right;
  }
  
  .clear{
    clear: both;
  }
  
  .p{
    font-size: 30px;
  }

  .sa{
   font-size: 60px;
   padding:70px;
   text-align: center;
   color: rgb(90, 88, 88);

  }
  

  .h2{
    color: rgb(90, 88, 88);
  }

  .navbar{
    
    justify-content: between;
  }